* {
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body, input, input, textarea {
   font-size: clamp(14px, 1.6rem, 2vw);

   font-family: 'Roboto', sans-serif;
}